@keyframes beeMove {
  from {
    transform: translateX(-1000px);
  }

  50% {
	transform: translateX(1500px) scale(0,0);
  }
  51% {
	transform: translateX(2001px) scale(-1,1);
  }
  52% {
	transform: translateX(2001px) scale(-1,1);
  } 

  99% {
       transform: translateX(-1000px) scale(-1,1);
  } 
	
  to {
   transform: transformX(-1000px) scale(-1,1);
  }
}

.bee {
	overflow: hidden;
	transform: translateX(-1000px);
	animation: beeMove infinite 20s linear;
}

.title {
	text-align: center;
	font-family: 'Verdana';
	background-color: yellow;
	display: flex;
	margin: 0 auto;
	justify-content: center;
	padding: 10px;
}
